<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="person in allPerson">
      <h4>{{person.firstName}} {{person.lastName}}</h4>
      <p>{{person.phoneNumber}}</p>
      <br>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
