<form role="form">
  <input type="text" class="form-control" ng-model="inputPerson" placeholder="Filter by name or phone number">
</form>

<div class="space-tb-20">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>Zipcode</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in allPersons | orderBy: ordering | filter:inputPerson">
        <td>{{person.lastName}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.phoneNumber}}</td>
        <td>{{person.zipcode}}</td>
      </tr>
    </tbody>
  </table>
</div>
